h1{
    margin-left: 40px;
}

button {
    display: inline;
    width: 371px;
    text-align: start;
    padding: 5px;
    font-size: 20px;
}
li { 
     list-style-type: none; 
}

.text {
    /* display: inline-bock; */
    padding: 5px;
    margin-left: 10px;
    outline: 1px solid gray;
    width: 350px;
}

.lang {
    padding: 5px;
    margin-left: 20px;
    outline: 1px solid gray;
    width: 325px;
}